body{
    font-family: 'Roboto', sans-serif;
    background-color: #f8f3ef;
}

/* header */
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 2rem;
    border-bottom: 2px solid rgba(203, 205, 207, 0.5) ;
   
}

header .search-input input{
    width: 34rem;
    padding: 0.8rem 2rem;
    border-radius: 9999px;
    padding-left: 3rem;
     box-shadow: 0.5px 1px 0 2px #1b1f24; 
    outline: none;
    
}

header .search-input input::placeholder{
    padding-left: 0.5rem;
}

header .search-input{
    position: relative;
}

header .search-input i.fas{
    position: absolute;
    z-index: 9999;
    top: 16px;
    left: 16px;
    color: #cbcdcf;
}



header  a{
    background-color: #000;
    color: white;
    padding: 0.8rem 2rem;
    border-radius: 9999px;
}


@media (max-width:850px){
    header .search-input input{
        width: 100%;
    }
}

 @media (max-width: 639px) {
    /* CSS code for small screens */
    header{
        flex-direction: column;
        
       
    }

    header .search-input{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    header  a{
        width: 60%;
        text-align: center;
    }
  }


/* Hero section   */

.navigation-bar {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    max-width: 55rem;
   margin-left: auto;
   margin-right: auto;
}

.navigation-bar ul {
    display: flex;
    
    justify-content: space-between;
}
.navigation-bar ul li{
    font-size: 1.1rem;
}

.navigation-bar ul li:first-child{
    font-weight: 700;
    cursor: pointer;
    
}
.navigation-bar ul li:first-child i{
   padding-right: 5px;
}

.navigation-bar ul li:not(:first-child) {
    color: #494a4a;
    transition: 0.3s ease;
}

.navigation-bar ul li:not(:first-child):hover{
    color: #000;
}

/* making the navigation responsive  */

@media (max-width: 639px){
    .navigation-bar{
        display: flex;
        justify-content: center;
    }

    .navigation-bar ul{
        flex-direction: column;
    }

    .navigation-bar ul li {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
}


/* Hero Section */

.hero-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 45rem;
    justify-items: center;
      max-width: 120rem;  
    
}


/* Hero content */
.hero-section .hero-content{
    padding-top: 9rem ;
    padding-left: 7rem;
    
}


.hero-section .hero-content h1{
    font-size: clamp(1rem,4.6rem,5rem);
}


.hero-section .hero-content p{
    color: #969594;
    margin-bottom: 2rem;
}


/* Hero Email */
.hero-section .hero-content .hero-email input{
   
   padding-top: 0.8rem;
   padding-bottom: 0.8rem;
   padding-left: 1rem;
   width: 60%;
   background-color: #f9f3ee;
   outline: none;
   color: #000;
   
   border: 2px solid rgba(203, 205, 207, 0.5);
   border-top-left-radius: 9999px;
   border-bottom-left-radius: 9999px;
}


.hero-section .hero-content .hero-email span{
    color: #fff;
    background-color: #000;
    padding: 1rem 2.5rem;
    border-radius: 9999px;
    position: relative;
    left: -26px;
    bottom: -2px;
}

.hero-section .hero-content .hero-email {
    margin-bottom: 1.7rem;
    
}

/* Hero image */


.hero-section .hero-img{
   
    position: relative;
    height: 100%;
    bottom: 5rem;
    margin-left: 4rem;
   
    
    
}

.hero-section .hero-img img{
    width: 27rem;
    height: 80%;
    object-fit: cover;
    border-radius: 9999px;
    
    

}



.hero-img-container .review-conatiner{
    display: flex;
    background-color: #fae46c;
    max-width: 15rem;
    border-radius: 15px;
    border: 2px solid #000;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    z-index: 1;
    top: 20rem;
    
    
}

.hero-img-container  .review-2 {
    top: 30rem;
    left: 20rem;
}

.hero-img-container .review-conatiner img{
    width: 2rem;
    
}
.review-conatiner .review-content{
    padding-left: 1rem;
}

.review-conatiner .review-content p{
    color: #494a4a;
}



/* Making Hero responsive */

@media ( max-width : 1140px){
    .hero-section{
        display: grid;
        grid-template-columns: 1fr;
        align-content: space-between;
        
    }

    /* making the email responsive */
    
    .hero-section .hero-content .hero-email input {
       
        
        width: 50%;
        
    }

    .hero-section .hero-content .hero-email span {
        color: #fff;
        background-color: #000;
        padding: 1rem 2rem;
        border-radius: 9999px;
        position: relative;
        left: -26px;
        bottom: -2px;
    }
}

/* making the hero responsive for small screens */
@media (max-width: 639px){

    /* responsive image */
    
    .hero-section .hero-img img{
        width: 27rem;
        height: 80%;
        object-fit: cover;
        border-radius: 9999px;
        
        
    
    }

    .hero-section .hero-img {
        position: relative;
        height: 100%;
        
        top: 2rem;
        margin-left: 4rem;
       
    }

    .hero-section .hero-img img{
        width: 20rem;
        height: 23rem;
    }

    .hero-img-container  .review-2 {
        top: 23rem;
        left: 9rem;
    }

    /* responsive email */

    .hero-section .hero-content .hero-email input {
        
         padding-left: 1rem; 
        width: 50%;
        background-color: #f9f3ee;
        outline: none;
        color: #000;
        border: 2px solid rgba(203, 205, 207, 0.5);
        border-top-left-radius: 9999px;
        border-bottom-left-radius: 9999px;
         position: relative;   /*making the input element clicKable on small screens */
    }

    .hero-section .hero-content .hero-email input::placeholder{
        font-size: 0.8rem;
    }


    .hero-section .hero-content .hero-email span{
        padding: 1rem 1rem;
    }

    
      /* adjusting the hero section padding */

      .hero-section .hero-content{
        padding-top: 9rem ;
        padding-left: 3rem;
        
    }

    
  
    
}



/* numbers section */

.numbers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}


.numbers .numbers-item h1{
    font-size: 2rem;

}

.numbers .numbers-item  p{
    color:#636363 ;
    font-size: 1.2rem;
}

/* making the numbers section responsive */

@media (max-width: 639px) {
    .numbers{
        flex-direction: column;
        align-content: center;
       
        
    }

    .numbers-item{
        margin-bottom: 2rem;
        margin-left: 3rem;

    }
}


/* popular courses section */
.Popular-courses{
    margin-top: 7rem;
}
.Popular-courses > h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}


.Courses-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
   
}
.Courses-section .course-card{
    
    background-color: #fef9f8;
    max-width: 20rem;
    padding: 0.7rem;
    border-radius: 0.6rem;
    border: 2px solid #000;
    cursor: pointer;
    margin-bottom: 2rem;
}

.Courses-section .course-card img{  
    width: 100%;
    border-radius: 1rem;    
    
}






 

.Courses-section .course-card h1{
    font-size: 1.2rem;
    padding: 0.6rem 1rem 0.6rem 1rem;
}


.Courses-section .course-card p{
    padding: 0.6rem 1rem 0.6rem 1rem;
    color: #636363;
}


.Courses-section .course-card .star-rating{
    display: flex;
    justify-content: space-around;
    
}

.Courses-section .course-card .star-rating .stars{
    padding-right: 1.5rem;
}

.Courses-section .course-card .star-rating  span:first-child{
    padding-right: 0.5rem;
    font-weight: 700;
}


.Courses-section .course-card .star-rating  span:nth-child(2){
    color: #636363 ;
}

.Courses-section .course-card .star-rating i.fas{
    color: #ffd500;
}

.Courses-section .course-card .price-element{
    padding: 1rem;
}

.course-card .price-element .price{
    padding-right: 1rem;
    font-weight: 700;
    font-size: 1.5rem;

}

.course-card .price-element .discount{
    color: #636363;
}

/* making popular courses section responsive */


@media (max-width: 639px){
    .Courses-section{
        flex-direction: column;
       align-items: center;

    }
    .Courses-section .course-card{
        margin-bottom: 1rem;
    }
}



/* Featurs section */

.features {
    margin-top: 8rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    background-color: #fef9f8;
    max-width: 80rem;
    margin-left: auto;  
    margin-right: auto; 
}

.features .feature img{
    width: 4rem;
    margin-right: 1rem;
}


.features .feature {
    display: flex;
    align-items: center;
}

.features .feature h1{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}




.features .feature p{
    font-size: 1.1rem;
    font-weight: 500;
}

/* making feature section responsive */


@media (max-width: 639px) {
    /* CSS code for small screens */
    .features{
        flex-direction: column;
        align-items: flex-start;
       
    }

    .features .feature{
        margin-bottom: 4rem;
        margin-left: 3rem;
    }


  }

  @media (min-width: 639px)   and (max-width:973px){
    .features .feature h1{
        font-size: 1.1rem;
       
    }

    .features .feature p{
        font-size: 1rem;
        
    }
  }

  /* Categories section */
   
  .Categories > h1{
    margin-top: 5rem;
    text-align: center;
    font-size: 3rem;
  }

  .Categories .Cat-container img{
    width: 4rem;
    position: relative;
    top: -1.5rem;
  }


  .Categories .Cat-container{
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }

  .Categories .Cat-container .cat-content h1{
    padding: 3rem 7rem;
    font-size: 1.5rem;
    border: 1px solid #000;
    border-radius: 1rem;
    box-shadow: 0.5px 1px 0 0.2px #1b1f24;
  }

  .Categories .Cat-container .cat-content:nth-child(1) h1{
      background-color: #d2b6ff ;
      
  }
  
  

  .Categories .Cat-container .cat-content:nth-child(2) h1{
     background-color: #aac5fe;
  }


  .Categories .Cat-container .cat-content:nth-child(3) h1{
    background-color: #ffbaab;
  }


  .Categories .Cat-container .cat-content:nth-child(4) h1{
    background-color:#ffea9f
  }


  .Categories .Cat-container .cat-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* making the categories section responsive */

  @media (max-width: 639px) {
    /* CSS code for small screens */
    .Categories .Cat-container{
        flex-direction: column;
    }
  }

  @media (min-width: 639px) and (max-width: 1023px){

    .Categories .Cat-container .cat-content h1{
        padding: 2rem 5rem;
        
       
       
    }

   
  }

/* Creating Mentors Section   */

 .Mentors{
    margin-top: 7rem;
    
 }

 .Mentors .m-cards{
    max-width: 90rem;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 4);
    column-gap: 2rem;
    margin-left: auto;
    margin-right: auto;
 }

 .Mentors > h1{
    text-align: center;
    font-size: 3rem;
 }


.Mentors .mentorCard {
    margin-top: 3rem;
    background-color: #ffffff;
    max-width: 22rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    border: 1px solid #000;
    cursor: pointer;
}


.Mentors .mentorCard  .mentor-content img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    outline: 1px solid #000;
    margin-bottom: 1rem;
}


.Mentors .mentorCard  .mentor-content{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.Mentors .mentorCard  .mentor-content h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}


.Mentors .mentorCard  .mentor-content p{
    font-size: 1.2rem;
    color: #494a4a;
}


.Mentors .m-reviews {
    display: flex;
    justify-content: space-between;
}


.Mentors .m-reviews span:nth-child(1){
    font-weight: 700;
    margin-right: 0.6rem;
}

.Mentors .m-reviews .m-rating{
    color: #ffd501;
}


.Mentors .m-reviews .s-numbers {
    color: #494a4a;
}

.Mentors .arrow-buttons{
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    
}


.Mentors .arrow-buttons button{
    margin-left: 1rem;
    color: #fff;
    background-color: #000;
    
    padding: 0.8rem 1rem;
    border-radius: 50%;
}






  














